### I. Library import

In [3]:
import pandas as pd

### II. Exploration

- id_mutation : Identifiant de mutation (non stable, sert à grouper les lignes)
- date_mutation : Date de la mutation au format ISO-8601 (YYYY-MM-DD)
- numero_disposition : Numéro de disposition
- nature_mutation : Nature de la mutation
- valeur_fonciere : Valeur foncière (séparateur décimal = point)
- adresse_numero : Numéro de l'adresse
- adresse_suffixe : Suffixe du numéro de l'adresse (B, T, Q)
- adresse_code_voie : Code FANTOIR de la voie (4 caractères)
- adresse_nom_voie : Nom de la voie de l'adresse
- code_postal : Code postal (5 caractères)
- code_commune : Code commune INSEE (5 caractères)
- nom_commune : Nom de la commune (accentué)
- ancien_code_commune : Ancien code commune INSEE (si différent lors de la mutation)
- ancien_nom_commune : Ancien nom de la commune (si différent lors de la mutation)
- code_departement : Code département INSEE (2 ou 3 caractères)
- id_parcelle : Identifiant de parcelle (14 caractères)
- ancien_id_parcelle : Ancien identifiant de parcelle (si différent lors de la mutation)
- numero_volume : Numéro de volume
- lot_1_numero : Numéro du lot 1
- lot_1_surface_carrez : Surface Carrez du lot 1
- lot_2_numero : Numéro du lot 2
- lot_2_surface_carrez : Surface Carrez du lot 2
- lot_3_numero : Numéro du lot 3
- lot_3_surface_carrez : Surface Carrez du lot 3
- lot_4_numero : Numéro du lot 4
- lot_4_surface_carrez : Surface Carrez du lot 4
- lot_5_numero : Numéro du lot 5
- lot_5_surface_carrez : Surface Carrez du lot 5
- nombre_lots : Nombre de lots
- code_type_local : Code de type de local
- type_local : Libellé du type de local
- surface_reelle_bati : Surface réelle du bâti
- nombre_pieces_principales : Nombre de pièces principales
- code_nature_culture : Code de nature de culture
- nature_culture : Libellé de nature de culture
- code_nature_culture_speciale : Code de nature de culture spéciale
- nature_culture_speciale : Libellé de nature de culture spéciale
- surface_terrain : Surface du terrain
- longitude : Longitude du centre de la parcelle concernée (WGS-84)
- latitude : Latitude du centre de la parcelle concernée (WGS-84)

In [4]:
df = pd.read_csv("full.csv",low_memory=False)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1566643 entries, 0 to 1566642
Data columns (total 40 columns):
 #   Column                        Non-Null Count    Dtype
---  ------                        --------------    -----
 0   id_mutation                   1566643 non-null  object
 1   date_mutation                 1566643 non-null  object
 2   numero_disposition            1566643 non-null  int64
 3   nature_mutation               1566643 non-null  object
 4   valeur_fonciere               1549589 non-null  float64
 5   adresse_numero                946773 non-null   float64
 6   adresse_suffixe               67087 non-null    object
 7   adresse_nom_voie              1558411 non-null  object
 8   adresse_code_voie             1558442 non-null  object
 9   code_postal                   1558158 non-null  float64
 10  code_commune                  1566643 non-null  object
 11  nom_commune                   1566643 non-null  object
 12  code_departement              1566643 non-null  object
 13  ancien_code_commune           21 non-null       float64
 14  ancien_nom_commune            21 non-null       object
 15  id_parcelle                   1566643 non-null  object
 16  ancien_id_parcelle            0 non-null        float64
 17  numero_volume                 3625 non-null     object
 18  lot1_numero                   464225 non-null   object
 19  lot1_surface_carrez           135310 non-null   float64
 20  lot2_numero                   147516 non-null   object
 21  lot2_surface_carrez           45120 non-null    float64
 22  lot3_numero                   25067 non-null    object
 23  lot3_surface_carrez           4970 non-null     float64
 24  lot4_numero                   7720 non-null     object
 25  lot4_surface_carrez           1116 non-null     float64
 26  lot5_numero                   3017 non-null     float64
 27  lot5_surface_carrez           320 non-null      float64
 28  nombre_lots                   1566643 non-null  int64
 29  code_type_local               879876 non-null   float64
 30  type_local                    879876 non-null   object
 31  surface_reelle_bati           482832 non-null   float64
 32  nombre_pieces_principales     878849 non-null   float64
 33  code_nature_culture           1095453 non-null  object
 34  nature_culture                1095453 non-null  object
 35  code_nature_culture_speciale  73429 non-null    object
 36  nature_culture_speciale       73429 non-null    object
 37  surface_terrain               1095430 non-null  float64
 38  longitude                     1545401 non-null  float64
 39  latitude                      1545401 non-null  float64
dtypes: float64(17), int64(2), object(21)
memory usage: 478.1+ MB

In [6]:
#The objective here is to check to proportion of missing value in each column
print(f"The data set size is : {df.shape} \n")
print(df.isna().sum()*(100/df.shape[0]))

The data set size is : (1566643, 40)

id_mutation                       0.000000
date_mutation                     0.000000
numero_disposition                0.000000
nature_mutation                   0.000000
valeur_fonciere                   1.088570
adresse_numero                   39.566768
adresse_suffixe                  95.717786
adresse_nom_voie                  0.525455
adresse_code_voie                 0.523476
code_postal                       0.541604
code_commune                      0.000000
nom_commune                       0.000000
code_departement                  0.000000
ancien_code_commune              99.998660
ancien_nom_commune               99.998660
id_parcelle                       0.000000
ancien_id_parcelle              100.000000
numero_volume                    99.768614
lot1_numero                      70.368169
lot1_surface_carrez              91.363061
lot2_numero                      90.583943
lot2_surface_carrez              97.119956
lot3_numero                      98.399955
lot3_surface_carrez              99.682761
lot4_numero                      99.507227
lot4_surface_carrez              99.928765
lot5_numero                      99.807423
lot5_surface_carrez              99.979574
nombre_lots                       0.000000
code_type_local                  43.836854
type_local                       43.836854
surface_reelle_bati              69.180471
nombre_pieces_principales        43.902408
code_nature_culture              30.076412
nature_culture                   30.076412
code_nature_culture_speciale     95.312972
nature_culture_speciale          95.312972
surface_terrain                  30.077880
longitude                         1.355893
latitude                          1.355893
dtype: float64

In [7]:
df.describe()

,numero_disposition,valeur_fonciere,adresse_numero,code_postal,ancien_code_commune,ancien_id_parcelle,lot1_surface_carrez,lot2_surface_carrez,lot3_surface_carrez,lot4_surface_carrez,lot5_numero,lot5_surface_carrez,nombre_lots,code_type_local,surface_reelle_bati,nombre_pieces_principales,surface_terrain,longitude,latitude
count,1.566643e+06,1.549589e+06,946773.000000,1.558158e+06,21.0,0.0,135310.000000,45120.000000,4970.000000,1116.000000,3017.000000,320.000000,1.566643e+06,879876.000000,482832.000000,878849.000000,1.095430e+06,1.545401e+06,1.545401e+06
mean,1.151611e+00,5.851872e+05,662.467259,4.996029e+04,14666.0,NaN,60.292755,62.919226,70.770805,79.408799,87.190918,91.711625,4.175852e-01,2.289326,116.663939,1.695597,3.122533e+03,2.448369e+00,4.606385e+01
std,1.550544e+00,3.246600e+06,1951.490889,2.756937e+04,0.0,NaN,64.017448,35.458998,58.454641,60.485274,573.008003,88.386506,8.358091e-01,0.922287,874.660282,2.041418,1.497313e+04,6.369826e+00,6.198123e+00
min,1.000000e+00,1.500000e-01,1.000000,1.000000e+03,14666.0,NaN,0.790000,0.600000,0.650000,0.860000,2.000000,1.000000,0.000000e+00,1.000000,1.000000,0.000000,1.000000e+00,-6.313720e+01,-2.138483e+01
25%,1.000000e+00,5.000000e+04,8.000000,2.768000e+04,14666.0,NaN,35.000000,43.250000,41.800000,40.760000,7.000000,42.470000,0.000000e+00,1.000000,48.000000,0.000000,2.590000e+02,3.628740e-01,4.466472e+01
50%,1.000000e+00,1.485000e+05,24.000000,4.930000e+04,14666.0,NaN,54.210000,61.470000,62.120000,69.890000,20.000000,73.000000,0.000000e+00,3.000000,74.000000,0.000000,6.700000e+02,2.373625e+00,4.672685e+01
75%,1.000000e+00,2.860000e+05,92.000000,7.500800e+04,14666.0,NaN,73.250000,76.800000,84.607500,103.700000,58.000000,111.200000,1.000000e+00,3.000000,103.000000,3.000000,2.086000e+03,4.546703e+00,4.867011e+01
max,1.610000e+02,2.550000e+08,9999.000000,9.749000e+04,14666.0,NaN,4774.550000,2569.000000,1800.000000,682.460000,20046.000000,746.000000,2.360000e+02,4.000000,265000.000000,70.000000,7.700000e+06,5.582527e+01,5.108207e+01

### III.Préprocessing

In [8]:
df['date_mutation'] = pd.to_datetime(df['date_mutation'], format='%Y-%m-%d')

In [9]:
#function to delete column with more than 40% missing data
def delete_too_much_nan(data) : 
    list=[]
    for column in data.columns:
        if(((data[column].isna().sum())*100)/data.shape[0] > 50) :
            list.append(column)
    data = data.drop(columns = list)
    return data

df = delete_too_much_nan(df)

In [10]:
#We delete all not necessary columns for our analysis 
df = df.drop(columns=["id_mutation","adresse_numero","adresse_nom_voie","adresse_code_voie","code_nature_culture","nature_culture","longitude","latitude","code_postal","nom_commune","type_local","numero_disposition"])

In [11]:
#We drop all the lines with missing values
df = df.dropna()

In [12]:
#We select only the lines with the mutation type equal to "Vente"
df = df[df["nature_mutation"] == "Vente"]

In [13]:
df.to_csv('data.csv', index=False)